// COLOR VARIABLES
$color-primary-dark: #151c29;
$color-primary: #182130;
$color-primary-light: #232c3b;
$color-primary-light-2: #2c3543;
$color-icon: #01d277;
$color-white: #fff;

//Font Variables

$primary-font: "Cairo", sans-serif;
