.footer {
  background-color: $color-primary-dark;
  padding: 2rem;
  grid-row: 7/8;
  grid-column: full-start/full-end;
  margin-top: 5rem;
  @include set-flex(center, center, column);

  &__box {
    width: 100%;

    @include set-flex(start, center, column);

    &-logo {
      width: 20rem;
      height: 8rem;

      @include set-flex(space-evenly, center);

      img {
        width: 30%;
      }
    }

    &-author {
      font-family: "Cairo", sans-serif;
      font-size: 1.5rem;
      color: $color-icon;
    }
  }

  @include responsive(phone) {
    grid-column: 1/-1;
  }
}
